@charset "utf-8";

section>div { position: relative; top: 50%; transform: translateY(-50%);}
.con-wrap{max-width: 1600px; margin:0 auto;}

.dots li a:before{border: 1px #ccc solid;}
.dots li a.active:before{border: 0; background-color: #222 !important;}

/* section1 */

.section1{position: relative;}
.section1:after{content: "KSK"; display: block; position: fixed; bottom: 0; right: 0; font-weight: 900; font-size: 560px; line-height: 0.7; color: rgba(0,0,0,0.03); z-index: -1;}

.profile{ display: inline-block; position: relative; padding-bottom: 20px; padding-left: 10%; box-sizing: border-box;}
.name{font-size: 2em; display: block;}
.e_name{font-size:3em; font-weight: 800;}

.p_list dl{margin-bottom: 25px;}
.p_list dt{font-size:1.5em; margin-bottom: 10px;}
.p_list dd{}
.tool dd{display: inline-block; margin-right: 5px;}
.tool dd:last-child{margin-right: 0;}
/* section1 */

/* section2 */
.section2{ background:linear-gradient(-245deg, #244a9f, #293277); color: #fff;}
/* section2 */

/* section3 */
.section3{ background:linear-gradient(-245deg, #22b8c8, #229fc8); color: #fff;}
/* section3 */

.title{padding-top: 15%; padding-left: 2%; box-sizing: border-box;}
.title .dis{font-size: 1.2em;}
.title h2{ font-size:3em; line-height:1.25; font-weight: 800;}
.title h2 span.org{display: block;font-size: 0.7em; font-weight: 500;}
.title a.link{font-size: 1.2em;}

.con-info .desing_img{padding-bottom:30px; text-align: center;}
.con-info .desing_img img{max-width: 80vh; width: 100%;}
.con-info dl{display: table-cell; padding:0 20px;}
.con-info dt{font-weight: 500; font-size: 1.2em; margin-bottom: 10px;}
.con-info dd{}

.con-info dl.ptool:{}
.con-info dl.ptool dd{display: inline-block;}
.con-info dl.ptool dd:before{content:""; display: inline-block; background:#fff; width: 1px; height: 10px; margin: 0 10px;}
.con-info dl.ptool dd:nth-child(2)::before{content: none;}

/* sub-con*/
.sub-img{display: block; margin: 0 auto; max-width: 100%; overflow: hidden;}
.sub-img img{width: 100%;}

.career {
  display: flex;
}

.career dl dt{display: inline-block; vertical-align: top; margin-right: 20px; font-size: 20px;}
.career dl dd{display: inline-block; }
.career dl dd ul li{margin-bottom: 10px;}


@media screen and (max-width: 1024px) { 
    
    .profile{font-size: 1em;}
    .name{font-size: 1.5em;}
    .e_name{font-size: 2em;}
    
    .p_list dt{font-size: 1.2em;}
    
    
    .title .dis{font-size: 1em;}
    .title h2{font-size: 1.8em;}
    .title h2 span.org{font-size: 0.8em;}
    .title a.link{font-size: 0.9em;}
    
    .con-info{}
    .con-info .desing_info{display: table;width: 100%;}
    .con-info dl{display: table-row; padding: 0;}
    .con-info dt{display: table-cell;}
    .con-info dd{display: table-cell;}
}

@media screen and (max-width: 768px) { 
    .p_list{ padding-bottom: 20px; padding-left: 10%; box-sizing: border-box;}    
    .p_list dt{margin-bottom: 5px;}
    
    .title{text-align: center; margin-bottom: 30px; padding: 0;}
    
    .con-info {text-align: center;}
    .con-info .desing_img img{max-width: 50vw;}
    .con-info dl{ text-align: center;}
    .con-info dt, .con-info dd{font-size: 0.8em;}
}

