@charset "utf-8";

.w_inner{max-width:1200px; margin:0 auto;}

/* 공통 여백 스타일 */
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}

.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}

/* color */
.fc1{color:#2b90d9;}

/* 버튼 */
a[class^="btn_"], button[class^="btn_"]{display:inline-block; margin-left:3px; font-weight:600; text-align:center; vertical-align:middle; box-sizing:border-box;}
a[class^="btn_"]:first-child, button[class^="btn_"]:first-child{margin-left:0;}
a[class^="btn_"]:hover,a[class^="btn_"]:focus,a[class^="btn_"]:active {text-decoration:none;}

/* 버튼 size */
.btn_sz_sm {height:35px; padding:0 15px; border-radius:3px; font-size:13px; box-shadow:1px 3px 3px rgba(29,63,97,0.12); line-height:34px;}
.btn_sz_md {height:45px; padding:0 20px; border-radius:3px; font-size:15px; box-shadow:1px 3px 3px rgba(29,63,97,0.12); line-height:44px;}
.btn_sz_lg {height:55px; padding:0 25px; border-radius:4px; font-size:17px; box-shadow:1px 3px 3px rgba(29,63,97,0.12); line-height:54px;}
.btn_sz_icon{width:35px; height:35px; border-radius:3px; font-size:0; box-shadow:1px 3px 3px rgba(29,63,97,0.12);}
.btn_sz_icon span{height:100%; background-position:center center;}

/* 버튼 컬러타입 */
.btn_bg1{background-color:#2170c1; border:1px solid #2170c1; color:#fff; transition:all 0.5s;}
.btn_bg2{background-color:#9baec8; border:1px solid #9baec8; color:#fff; transition:all 0.5s;}
.btn_bg3{background-color:#2e3750; border:1px solid #2e3750; color:#fff; transition:all 0.5s;}
.btn_bg1.on, .btn_bg1:hover,.btn_bg1:focus,.btn_bg1:active{background-color:#07519c; border-color:#07519c; outline:0;}
.btn_bg2.on, .btn_bg2:hover,.btn_bg2:focus,.btn_bg2:active{background-color:#5d6d85; border-color:#5d6d85; outline:0;}
.btn_bg3.on, .btn_bg3:hover,.btn_bg3:focus,.btn_bg3:active{background-color:#171b29; border-color:#171b29; outline:0;}

/* 버튼 라인타입 */
.btn_ln1{border:1px solid #2170c1; color:#2170c1; background-color:#fff;}
.btn_ln2{border:1px solid #9baec8; color:#9baec8; background-color:#fff;}
.btn_ln3{border:1px solid #2e3750; color:#2e3750; background-color:#fff;}

/* icon */
[class^="icon_"]{display:inline-block; background-repeat:no-repeat;}
.icon_search{padding-left:21px; background-image:url(../images/icon_search_w.png); background-position:left center;}
.icon_add {padding-left:21px; background-image:url(../images/icon_add.png); background-position:left center;}
.icon_del {padding-left:21px; background-image:url(../images/icon_del1.png); background-position:left center;}

/* input */
.input_tit{display:inline-block; margin:0 12px 0 20px; color:#333; font-weight:bold; text-align:left;}
.input_sum{margin:15px 0; text-align:right;}

input[type="text"], select, textarea{width:210px; height:35px; padding-left:10px; font-size:13px; color:#666; border:1px solid #d0d7de; border-radius:3px; background:#fff; box-shadow:0 1px 0 rgba(6,39,105,0.08);vertical-align:middle; box-sizing:border-box;}
input:disabled, select:disabled, textarea:disabled{background-color:#f7f7f7;}
input[type="text"]{padding-right:10px;}
input[type="text"]::-ms-clear{display:none;} 

select{appearance:none; -webkit-appearance:none; -moz-appearance:none; padding-right:30px; background:#fff url(../images/icon_select_arrow.png) right 10px center no-repeat;}
select::-ms-expand{display:none;}
select:active, select:focus{outline:none;}

.input_button{display:inline-block; position:relative;}
/*.input_button input[type="text"]{padding-right:60px;}*/
.input_button [class^="icon_"]{position:absolute; right:5px; top:0; width:23px; height:33px; text-indent:-9999px;}
/*.input_button [class^="icon_"]:nth-of-type(1){right:33px;}*/
.input_button [class^="icon_"]:focus{outline:none;}
.input_button .icon_del{background:url(../images/icon_del.png) center no-repeat;}
.input_button .icon_search{background:url(../images/icon_search.png) center no-repeat;}

textarea{overflow:auto; min-height:135px; padding:15px; resize:none; font-family:'NanumGothic','맑은 고딕','Malgun Gothic',Sans-serif;}
textarea:active, textarea:focus{outline:none;}

.filebox + .filebox{margin-top:7px;}
.filebox input[type="file"]{position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0; }
.filebox label{display:inline-block; height:35px; padding:0 10px; color:#2170c1; font-size:inherit; line-height:normal; background-color:#fff; cursor:pointer; border-radius:3px; border:1px solid #2170c1; line-height:35px; vertical-align:middle; font-weight:bold; box-shadow:0 1px 0 rgba(6,39,105,0.08); box-sizing:border-box;}
.filebox .upload-name{display:inline-block; width:210px; height:35px; padding:0 10px; font-size:inherit; font-family:inherit; line-height:normal; vertical-align:middle; background-color:#fff; border:1px solid #d0d7de; box-shadow:0 1px 0 rgba(6,39,105,0.08); border-radius:3px; color:#999; -webkit-appearance:none; -moz-appearance:none; appearance:none; box-sizing:border-box;}

/* input_area */
.w100{width:100% !important;}
.area_w2 input, .area_w2 select{width:calc(100%/2 - 10px) !important;}
.area_w3 input, .area_w3 select{width:calc(100%/3 - 10px) !important;}
.area_w3_7 input:first-child{width:calc(30% - 10px); margin-right:10px;}
.area_w3_7 input:last-child{width:70%;}

/* datepicker */
.date{display:inline-block; max-width:320px;}
.date input{width:calc(100%/2 - 10px) !important;}
.date_btn input{width:calc(100%/2 - 40px);}
input[type="text"].icon_date{background:#fff url(../images/icon_date.png) right 10px center no-repeat; cursor:pointer;}
.ui-datepicker-calendar th{color:#555;background: #fff;}
.ui-datepicker-calendar tr{border-bottom:0;}
.ui-datepicker-title select{border:1px solid #b2b2b2;}
.ui-widget-content{border:2px solid #2170c1 !important; box-shadow:1px 3px 3px rgba(29,63,97,0.12);}
.ui-datepicker .ui-datepicker-header{background:none;border:none;}
.ui-datepicker .ui-datepicker-title select{font-size:13px !important;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{border-radius:5px;padding:3px;margin:5px !important;width:75px !important;vertical-align:middle;}
.ui-datepicker th{}
.ui-widget-header .ui-icon-circle-triangle-w{background:url(../images/datepicker_pre.png) center center no-repeat !important;width:10px;height:17px;}
.ui-widget-header .ui-icon-circle-triangle-e{background:url(../images/datepicker_next.png) center center no-repeat !important;width:10px;height:17px; margin-left:-5px !important;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{top:12px;}
.ui-datepicker .ui-datepicker-prev-hover{background:none !important;border:none !important;left:2px !important;top:12px !important;cursor:pointer;}
.ui-datepicker .ui-datepicker-next-hover{background:none !important;border:none !important;right:2px !important;top:12px !important;cursor:pointer;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background:none !important;border:none !important;text-align:center;font-size:13px;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{color:#fff !important;background:#2170c1 !important;border-radius:5px;}
.ui-datepicker th{padding:10px !important;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{border:1px solid #2170c1 !important;border-radius:5px;color:#2170c1 !important;}
.ui-state-default:hover{background-color:#f0f7fd !important; border-radius:5px;}

/* monthpicker */
.mtz-monthpicker .ui-state-default{cursor:pointer !important;}
.mtz-monthpicker .ui-state-default:hover{background-color:#f0f7fd !important;}


/* checkbox */
label{display:inline-block; position:relative;}
label + label{margin-left:10px;}
label > input[type="checkbox"], label > input[type="radio"]{position:absolute; left:0; top:0; width:0; height:0;}
label > span{position:relative; padding-left:22px; color:#666; cursor:pointer;}
label > span:before{display:block; content:""; position:absolute; left:0; top:-1px; width:15px; height:15px; border:1px solid #b7bfc7; background-color:#fff;}

label > input:checked + span{font-weight:bold; color:#2170c1;}
label input:checked + span:before{box-shadow: 1px 3px 3px rgba(10,56,103,0.15);}

label > input[type="checkbox"]:disabled + span, label > input[type="radio"]:disabled + span{cursor:default;}
label > input[type="checkbox"]:disabled + span:before, label > input[type="radio"]:disabled + span:before{background-color:#f7f7f7;}

label > input[type="checkbox"] + span:before{border-radius:3px;}
label > input[type="checkbox"]:checked + span:before{border-color:transparent; background:#2170c1 url(../images/icon_check.png) center no-repeat;}

label > input[type="radio"] + span:before{border-radius:50%;}
label > input[type="radio"]:checked + span:after{display:block; content:""; position:absolute; left:5px; top:4px; width:7px; height:7px; background-color:#2170c1; border-radius:50%;}

/* title */
.tit1{margin-bottom:20px; font-size:23px; color:#333;}
.tit2{position:relative; margin-bottom:15px; padding-left:22px; font-size:15px; color:#333; }
.tit2:before{display:block; content:""; position:absolute; left:0; top:3px; width:14px; height:14px; background-color:transparent; border:4px solid #2170c1; border-radius:50%; box-shadow:0 2px 0 rgba(18,73,130,0.4); box-sizing:border-box;}

.tit_btn{position:relative;}
.tit_btn .btn_group{position:absolute; right:0; top:-10px;}

/* search_box */
[class*="_table"] textarea{width:100%;}
[class*="_table"] .w100 + .w100{margin-top:7px;}

.search_box{width:100%; padding:20px 10px 25px 10px; box-sizing:border-box; background-color:#fff; box-shadow:0 1px 0 rgba(35,47,100,0.1); border-radius:5px; text-align:center;}
.search_box [class^="btn_"]{margin-left:5px;}

/* table */
.input_table{overflow:auto; border:1px solid #d0d7de; border-top:2px solid #2170c1; box-shadow:0 1px 0 rgba(35,47,100,0.1);}
.input_table table{width:100%;}
.input_table th, .input_table td{padding:6px 10px; border-bottom:1px solid #d0d7de;}
.input_table tr:last-child th, .input_table tr:last-child td{border-bottom:0;}
.input_table th{background-color:#e5eff9; border-right:2px solid #d0d7de; font-weight:bold; color:#14497f;}
.input_table td + th{border-left:2px solid #d0d7de;}
.input_table td{background-color:#fff;}

.view_table{border:1px solid #d0d7de; border-top:2px solid #2170c1; box-shadow:0 1px 0 rgba(35,47,100,0.1);}
.view_table table{width:100%;}
.view_table th, .view_table td{padding:8px 10px; border-bottom:1px solid #d0d7de;}
.view_table tr:last-child th, .view_table tr:last-child td{border-bottom:0;}
.view_table th{background-color:#e5eff9; border-right:2px solid #d0d7de; font-weight:bold; color:#14497f;}
.view_table td + th{border-left:2px solid #d0d7de;}
.view_table td{background-color:#fff;}

.list_table{overflow:auto; width:100%; box-shadow:0 1px 0 rgba(35,47,100,0.1);}
.list_table table{width:100%; min-width:500px;}
.list_table.t_w700 table{min-width:700px;}
.list_table.t_w1000 table{min-width:1000px;}

.list_table th, .list_table td{height:32px;}
.list_table thead{border:1px solid #96bbe1;}
.list_table thead th{height:34px; background-color:#d7e8f9; border-right:1px solid #96bbe1; font-weight:bold; color:#14497f;}
.list_table tbody{border:1px solid #d0d7de;}
.list_table tbody tr:nth-child(even) td{background-color:#f5f8fb;}
.list_table tbody td{padding:2px 10px; background-color:#fff; border-right:1px solid #d0d7de; text-align:center;}
.list_table tbody td input[type="text"]{width:170px;}

.list_table .value_change > td{background-color:#4ea3e0 !important; border-right-color:#8bc1e8; color:#fff;}

.list_table table{table-layout:fixed;}
.layer_popup .list_table table{table-layout:auto;}
.layer_popup input[type="text"], .layer_popup select, .layer_popup textarea{width:180px;}
/* table */

/* paging */
.paging_wrap {margin-top:30px; text-align:center; }
.paging_wrap .paging_box{display:inline-block; box-sizing:border-box;}
.paging_wrap .paging_box > a, .paging_wrap .paging_box > span{display:inline-block; width:30px; height:30px; margin:0 2px; line-height:30px; font-size:16px; text-align:center; color:#333;position: relative;}
.paging_wrap .paging_box > a.now, .paging_wrap .paging_box > a:hover, .paging_wrap .paging_box > a:focus, .paging_wrap .paging_box > a:active {font-weight:600; color:#2170c1; text-decoration:none;}
.paging_wrap .paging_box > a.now:after, .paging_wrap .paging_box > a:hover::after, .paging_wrap .paging_box > a:focus::after, .paging_wrap .paging_box > a:active::after {content: ""; display: inline-block; position: absolute; bottom: 0; left: 50%; width: 50%; height: 2px; background: #2170c1; transform: translateX(-50%);}
.paging_wrap .paging_box > a.page_prev{background-image:url(../images/icon_page_prev.png);}
.paging_wrap .paging_box > a.page_next{background-image:url(../images/icon_page_next.png);}
.paging_wrap .paging_box > a.page_prev, .paging_wrap .paging_box > a.page_next {border-radius:36px; background-color:#d7e8f9; background-repeat:no-repeat; background-position:center 0; text-indent:-9999px; transition:all 0.2s;}
.paging_wrap .paging_box > a.page_prev:hover, .paging_wrap .paging_box > a.page_prev:focus, .paging_wrap .paging_box > a.page_prev:active, .paging_wrap .paging_box > a.page_next:hover,
.paging_wrap .paging_box > a.page_next:focus, .paging_wrap .paging_box > a.page_next:active {background-color:#2170c1; background-position:center -36px; }
/* paging */

/* area */
.area:after{display:block; content:""; clear:both;}
.area > div{float:left;}
.area > div:nth-child(1){margin-right:30px;}
.area > div:last-child{margin-right:0;}

.w1_9 > div:nth-child(1){width:calc(10% - 30px);}
.w1_9 > div:nth-child(2){width:90%;}
.w2_8 > div:nth-child(1){width:calc(20% - 30px);}
.w2_8 > div:nth-child(2){width:80%;}
.w3_7 > div:nth-child(1){width:calc(30% - 30px);}
.w3_7 > div:nth-child(2){width:70%;}
.w4_6 > div:nth-child(1){width:calc(40% - 30px);}
.w4_6 > div:nth-child(2){width:60%;}
.w5_5 > div:nth-child(1){width:calc(50% - 30px);}
.w5_5 > div:nth-child(2){width:50%;}
.w6_4 > div:nth-child(1){width:calc(60% - 30px);}
.w6_4 > div:nth-child(2){width:40%;}
.w7_3 > div:nth-child(1){width:calc(70% - 30px);}
.w7_3 > div:nth-child(2){width:30%;}
.w8_2 > div:nth-child(1){width:calc(80% - 30px);}
.w8_2 > div:nth-child(2){width:20%;}
.w9_1 > div:nth-child(1){width:calc(90% - 30px);}
.w9_1 > div:nth-child(2){width:10%;}

/* 회색타이틀 박스 */
.gray_tit_box {border:1px solid #cbcbda; border-radius:4px; box-shadow:3px 5px 0 #f0f0f0; box-sizing:border-box;}
.gray_tit_box > .gray_title{padding:15px; background:#f5f5f8; border-radius:4px 4px 0 0; font-weight:600; color:#333; box-sizing:border-box; line-height:27px;}
.gray_tit_box > .gray_title span:first-child{margin-right:10px;}
.gray_tit_box > .gray_title > input[type="text"]{width:calc(100% - 75px);}
/* 회색타이틀 박스 */

/* touch punch */
.category_item_box {padding:25px; text-align:center; border:2px solid #2170c1; border-radius:4px; background:#e7f0f9; box-sizing:border-box; }
.category_item_box > p span{display:inline-block; padding:15px 0 20px 80px; font-size:18px; color:#333; background:url(../images/icon_mksent.png) no-repeat 20px center;}
.category_item_box .item_wrap{min-height:55px; margin-top:10px; word-break:keep-all; word-wrap:break-word;}
.category_item_box .item_wrap span{display:inline-block; height:45px; margin-top:10px; margin-right:5px; padding:0 12px; border:2px solid #2170c1; border-radius:4px; color:#2170c1; font-weight:600; line-height:40px; background:#fff; box-sizing:border-box; cursor:pointer;}
.category_item_box .item_wrap span.ui-draggable-dragging{background:#2170c1; color:#fff; }

.category_set { margin-top:20px; font-size:18px; font-weight:600; color:#333; text-align:right;}
.category_set > span{margin-right:20px;}

.drag_item {min-height:150px; padding:15px 15px 20px 20px; background:#fff; box-sizing:border-box;}
.drag_item > span{display:inline-block; height:45px; margin:5px 5px 0 0; padding:0 12px; border:2px solid #2170c1; border-radius:4px; color:#2170c1; background:#fff; font-weight:600; line-height:40px;  box-sizing:border-box;}
.drag_item.ui-droppable > span{cursor:pointer;}
.drag_item > span.ui-draggable-dragging{background:#2170c1; color:#fff; }

.category_div {margin:20px 0 0 -30px;}
.category_div > div{width:calc((100% / 3) - 31px); margin-left:30px; box-sizing:border-box;} 
.category_div > div + div + div + div {margin-top:20px;}

.category_finish {padding:40px 0; background:#f4f4fb; text-align:center;}
.category_finish > p{display:inline-block; padding:20px 0 25px 275px; background:url(../images/bg_category_finish.png) no-repeat; font-size:25px; line-height:1.3; text-align:left; }

.flex_wrap {display:flex; flex-flow:wrap; flex-wrap:wrap; }
/* touch punch */

/* layer popup */
.layer_mini_wrap {min-width:290px;}
.layer_time_wrap {min-width:400px;}

.layer_mini_wrap .layer_sel_user{line-height:1.6; text-align:center;}
.layer_mini_wrap .layer_sel_user > b{display:block; font-size:18px; font-weight:600; color:#333;}
.layer_mini_wrap .layer_group_sel{margin-top:15px;}
.layer_mini_wrap .layer_group_sel.layer_sel_full select{width:100%;}
.layer_mini_wrap .layer_group_sel.layer_sel_half select{width:49%;}
.layer_wrap .error_text{margin-top:10px; padding-left:20px; font-size:14px; font-weight:600; color:#e9696f;}

.time_box_scroll {overflow-y:auto; height:250px; border:2px solid #e7f0f9; border-radius:4px;}
.time_box_scroll > ul {position:relative; padding:0 20px;}
.time_box_scroll > ul:before {content:''; position:absolute; top:0; left:0; width:250px; height:100%; background:#f8f8fc; z-index:1;}
.time_box_scroll > ul > li {position:relative; padding:5px 0; border-top:1px solid #e7f0f9; font-weight:600; z-index:10;}
.time_box_scroll > ul > li:first-child {border-top:0;}
.time_box_scroll > ul > li span{display:inline-block; width:230px; margin-right:20px; padding-left:20px; color:#333; background:url(../images/icon_check2.png) left 0 top 5px no-repeat;vertical-align:middle; box-sizing:border-box;}
.time_box_scroll > ul > li input{width:50px; height:35px; padding:0; text-align:center; }

.layer_payoff > p{font-size:18px; color:#333;}
.layer_payoff > .payoff_input{width:700px; margin-top:25px; padding:0 20px 20px 20px; border:2px solid #e7f0f9; border-radius:4px; background:#f4f4fb; box-sizing:border-box; }
.layer_payoff > .payoff_input dl{position:relative; margin-top:20px;}
.layer_payoff > .payoff_input dl > dt{position:absolute; top:0; left:0; display:inline-block; width:80px; color:#333; font-weight:600;}
.layer_payoff > .payoff_input dl > dd{padding-left:80px;}
.layer_payoff > .payoff_input dl > dd > label{margin-right:12px; }

.set_error {padding-top:60px; font-size:18px; color:#333; text-align:center; background:url(../images/icon_signUp_id_failure.png) no-repeat top center;}
/* layer popup */

/* 레이어 팝업 */
.layer_overlay{display:none; overflow:auto; position:fixed; top:0; left:0;  width:100%; height:100%; text-align:center; background: rgba(0,0,0,0.7);  z-index:999; }
.layer_popup{display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:9999; }
.layer_popup .layer_wrap{display:inline-block; position:absolute; top:50%; left:50%; padding:10px; background:#2170c1; border-radius:30px; box-sizing:border-box;}
.layer_popup .layer_inner{padding:20px 30px; background:#fff; border-radius:20px; }
.layer_popup .layer_wrap .popup_title{position:relative; padding:0 25px 15px 0; border-bottom:1px solid #2170c1; text-align:left;}
.layer_popup .layer_wrap .popup_title h1{font-size:18px; color:#2170c1; font-weight:600;}
.layer_popup .layer_wrap .popup_title .btn_layer_close{position:absolute; top:0; right:0;}
.layer_popup .layer_wrap .popup_title .btn_layer_close > a{display:inline-block; width:23px; height:23px; background:url(../images/btn_popup_close.png) no-repeat; text-indent:-9999px;}

.layer_popup .layer_wrap .layer_cont{margin:20px 0 0 0;  max-width:740px; text-align:left; }
.layer_popup .layer_wrap .btn_popup{margin-top:25px; text-align:center;}

/* 미니 레이어 팝업 */
.mini_popup .layer_wrap .popup_title{border-bottom:0;}
.mini_popup .layer_wrap .popup_title h1{display:none;}

/* 에러페이지 */
#error_wrap{max-width:900px; margin:120px auto; padding:80px 100px; text-align:center; background-color:#2170c1; border-radius:43px; box-shadow:10px 10px 15px rgba(0,0,0,0.2); box-sizing:border-box;}
#error_wrap > h1 {height:80px; font-size:0; background:url(../images/logo.png) top center no-repeat;}
#error_wrap > .error_img {position:relative; max-width:391px; height:98px; margin:23px auto 0 auto; padding-top:75px; font-size:0; background:url(../images/error.png) bottom center no-repeat;}
#error_wrap > .error_img:before {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:5px; background:url(../images/bg_login_line.png) left top repeat-x;}
#error_wrap > div {margin:60px auto 30px;}
#error_wrap > div > p {font-size:25px; font-weight:600; color:#fff;}
#error_wrap > div > p + p {display:inline-block; margin-top:15px; font-size:15px; line-height:28px;}
#error_wrap > a > span {display:inline-block; padding-right:30px; background:url(../images/icon_home_err.png) no-repeat right;}

/* 회원가입 레이어 팝업 */

/* 학교검색 */
.layer_school_wrap{min-width:365px;overflow: hidden;}
.layer_school_wrap .school_search_input{margin-right:133px;}
.layer_school_wrap .school_search_input input{width: 100%;}
.layer_school_wrap button{float:right;min-width:130px;margin-top:-35px;}
.school_box_scroll{margin-top:20px;overflow-y:auto;height:365px;border-radius:4px;}

/* table */
.tb_base {position:relative; width:100%; border:1px solid #d0d7de; line-height:1.5;}
.tb_base caption span{position:absolute; top:-9999px; overflow:hidden; height:0px; width:0px; }
.tb_base thead th {padding:10px 10px 9px 10px; color:#fff; font-weight:600; text-align:center; background:#2170c1; border:1px solid #d0d7de; }
.tb_base tbody th {padding:10px 10px 9px 10px; color:#333; background:#e5eff9; font-weight:600; border:1px solid #d0d7de; }
.tb_base tbody td {padding:10px 10px 9px 10px; text-align:left; border:1px solid #d0d7de; word-break:keep-all; word-wrap:break-word; }
.tb_base tbody td {padding:10px 10px 9px 10px; text-align:left; border:1px solid #d0d7de; word-break:keep-all; word-wrap:break-word; }
.tb_base tbody td select.score_sel{min-width:70px;}
.tb_base tfoot th, .tb_base tfoot td {padding:10px 10px 9px 10px; color:#e9696f; font-weight:600; background:#fff4f5; border:1px solid #d0d7de; text-align:center; }
.tb_base tbody.tb_center td {padding:10px 5px 9px 5px; text-align:center;}

.tb_base tbody td.al_l {text-align:left;}
.tb_base tbody td.al_c {text-align:center;}
.tb_base tbody td.al_r {text-align:right;}

/* 아이디 중복확인 1,2 */
.layer_cont .id_check1{padding-top: 60px;font-size: 18px;color: #333;text-align: center;
background: url(../images/icon_signUp_id_failure.png) no-repeat center 0;}
.layer_cont .id_check2{padding-top: 55px;font-size: 18px;color: #333;text-align: center;background: url(../images/icon_signUp_id_success.png) no-repeat center top;}

/* 회원가입 step3 기타 서류 인증 */
.step3_popup_wrap{min-width:600px;overflow: hidden;}
.step3_popup_wrap .step3_popup_info{padding:10px 20px;border:1px solid #2170c1;border-radius: 5px;background-color: #fcfcfe;}
.step3_popup_wrap .step3_popup_info ul li span:first-child{display:inline-block;width:45px;line-height:28px;}
.step3_popup_wrap .step3_popup_info ul li span:last-child::before{content:':';margin-right:15px;}
.step3_popup_wrap .step3_popup_guide{padding:10px 20px;border:1px solid #b6c5d6;border-radius: 5px;background-color: #fcfcfe;line-height:28px;}
.step3_popup_wrap .step3_popup_p{margin-top:10px;font-size:13px;}
.step3_popup_wrap .step3_popup_p::before{display:inline-block;vertical-align:middle;content:'';width:4px;height:4px;margin-right:7px;border-radius:50%;background-color:#e9696f;}
.step3_popup_wrap .filebox{padding: 20px 0;}
.step3_popup_wrap .filebox input[type="text"]{width:calc(100% - 115px);}
.step3_popup_wrap .filebox label {display:inline-block;vertical-align:middle;min-width:80px;text-align:center; box-sizing:border-box;}
.step3_popup_wrap .filebox input[type="file"]{position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}
/* //회원가입 레이어 팝업 */


/* 교사 승인 안내 */
#error_wrap > div.auth_check {position:relative; margin:23px auto 0 auto;}
#error_wrap > div.auth_check:before {content:''; display:block; position:absolute; top:0; left:50%; width:390px; height:5px; margin-left:-195px; background:url(../images/bg_login_line.png) left top repeat-x;}
#error_wrap > div.auth_check .auth_info{width:490px; margin:0 auto; text-align:left; color:#fff; line-height:25px; background:url(../images/bg_before_appr.png) no-repeat 0 30px; box-sizing:border-box;}
#error_wrap > div.auth_check .auth_info h2{margin-bottom:20px; font-size:30px; font-weight:600;}
#error_wrap > div.auth_check .auth_info b.point_yellow{color:#edd900;}
#error_wrap > div.auth_check .admin_mail_info{width:490px; margin:0 auto 30px auto; padding:20px 0 25px 0; background:#2170c1; border-radius:8px; box-sizing:border-box;}
#error_wrap > div.auth_check .admin_mail_info .admin_mail_list{display:inline-block; padding-left:65px; background:url(../images/icon_admin_mail.png) no-repeat 0 3px; line-height:25px;}
#error_wrap > div.auth_check .admin_mail_info .admin_mail_list a{color:#fff;}
#error_wrap > div.auth_check .admin_mail_info .admin_mail_list a:hover,.auth_check .admin_mail_info .admin_mail_list a:focus,.auth_check .admin_mail_info .admin_mail_list a:active{font-weight:600;}

/* 교사승인 전 */
#error_wrap > div.auth_check .before_appr .auth_info{padding:70px 0 40px 225px;}
/* 승인보류 */
#error_wrap > div.auth_check .hold_appr .auth_info{padding:60px 0 25px 220px; letter-spacing:-1px;}

@media screen and (max-width: 1024px) { 
    .input_tit{margin:10px 0 7px 0;}
    
    .input_sum{margin:15px 0; text-align:right;}
    .input_sum .input_tit{margin:0 12px 0 20px;}
    .input_sum input[type="text"], .input_sum input[type="number"]{width:calc(100% - 60px);}
    
    input[type="text"], select, textarea{width:100%;}
    .input_button{display:block;}
    
    .filebox .upload-name{width:calc(100% - 65px);}
    
    /* search_box */
    .search_box{padding:20px 10px 30px 10px; text-align:left;}
    .search_box [class^="btn_"]{width:100%; margin-left:0; margin-top:10px;}
    
    .date{display:block; max-width:100%;}
    .date input{width:calc(100%/2 - 10px);}
    .date_btn input{width:calc(100%/2 - 40px);}
    
    /* table */        
    .input_table th, .input_table td{display:block;}
    .input_table th{border-right:0; text-align:left;}
    .input_table td + th{border-left:0;}
    
    .view_table th, .view_table td{display:block;}
    .view_table th{border-right:0; text-align:left;}
    .view_table td + th{border-left:0;}
    .list_table table{table-layout:auto;}
    .list_table .date{width:250px;}
    
    .layer_popup input[type="text"], .layer_popup select, .layer_popup textarea{width:100%;}
    
    /* area */
    .area > div{float:none; width:100% !important; margin-right:0 !important;}
    .area > div:first-child{margin-bottom:30px;}
}

